#answerForm{
	margin:40px 0px;
}

#answerForm label{
	display:block;
	margin-bottom:10px;
	font-size: 18px;
}

#answerForm input{
	display:block;
	padding: 10px;
	width:600px;
}

#answerForm textarea{
	display:block;
	padding: 10px;
	width:600px;
}

#preview{
	background-color:#ffffff;
	padding: 20px;
	min-height:100px;
	overflow: auto;
}

#answerForm #formbtn{
	display:block;
	color:#ee6261;
	text-decoration:none;
	margin-top: 20px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:10px;
	height:38px;
	font-size:15px;
	font-weight:normal;
	border:1px solid #ee6261;
	width:200px;
}

.formerror{
	color:red;
}

.tag{
	display:inline-block;
	color:#ffffff;
	background-color:#ee6261;
	margin-right:10px;
	margin-top:10px;
	padding:10px;
	border-radius: 5px;
	font-size:12px;
}

#ptitle{
	font-size:25px;
	font-weight: bold;
	margin-bottom:5px;
}

#pdesc{
	font-size:18px;
}

#pdate{
	margin-top:25px;
	font-size:12px;
	color: gray;
}

#pdate a{
	color:inherit;
}

#pinfo{
	font-weight: bold;
	text-transform: uppercase;
	display:block;
	color:#ffffff;
	padding:10px;
	font-size: 10px;
	float:right;
}

#rightside{
	display: block;
	float:left;
	width:800px;
}

.gray{
	color:#aaaaaa;
}

.red{
	background-color: red;
}

.green{
	background-color:green;
}

.answer{
	display:block;
	background-color: #ffffff;
	margin: 20px 0px;
	padding:20px;
}

.answertext{
	font-size:16px;
}

.answerinfo{
	font-size:12px;
	color: gray;
	margin-top: 10px;
}

.answerinfo a{
	color:inherit;
}

#onecol{
	overflow:auto;
	width: 1000px;
	padding:20px;
	margin: 0 auto;
}

#isbest{
	background-color:#caffd3;
}

#isbest a.pickbest{
	display:none;
}

.answerbuttons a{
	color:#666666;
	display:inline-block;
	text-decoration:none;
	margin-top: 20px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:5px;
	font-weight:normal;
	border:1px solid #666666;
}

a.pickbest{
	color:#00d358;
	border:1px solid #00d358;
}

#pbutts a{
	color:#666666;
	display:inline-block;
	text-decoration:none;
	margin-top: 20px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:5px;
	font-weight:normal;
	border:1px solid #666666;
}

/*html {
  scroll-behavior: smooth;
}*/