

#searchQuestionForm{
	display:block;
	margin-bottom:20px;
	padding: 10px 10px;
}

.headline{
	font-size:23px;
	padding:30px 0px 10px 0px;
}

.desc{
	font-style: italic;
	margin-bottom:20px;
}

input[type="button"], input[type="submit"]{
	color:#ee6261;
	text-decoration:none;
	background-color:transparent;
	text-align: center;
	font-size:15px;
	font-weight:normal;
	border:1px solid #ee6261;
	margin-left: 5px;
}

table.postTable {
  width: 100%;
}
table.postTable td, table.postTable th{
  border: 1px solid #AAAAAA;
  padding: 3px 0px;
}
table.postTable tbody td{
  font-size: 13px;
}
table.postTable tr:nth-child(even){
  background: #F7F3F2;
}
table.postTable thead, table.postTable tr th{
  background: #4E4E4E;
}
table.postTable thead th, table.postTable tr th{
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.postTable tfoot td {
  font-size: 14px;
}
table.postTable tfoot .links {
  text-align: right;
}
table.postTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#content {
	width: 90%;
	margin: auto;
}




#left{
	float:left;
	display:block;
	width:800px;
	background-color: white;
	padding:20px;
	//text-align: center;
}
.listcontainter{
	width:600px;
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
	background: #fff;
	padding:0px;
}

.shortquestion{
	display:block;
	margin-bottom:4px;
	background-color: #eeeeee;
	padding:20px;
	border-radius: 5px;
}

a.squestion{
	text-decoration: none;
	font-weight: bold;
	color:inherit;
	font-size:18px;
}

a.sanswer{
	text-decoration: none;
	color:inherit;
	font-size:15px;
}

.sinfo{
	font-size:13px;
	color:gray;
}

.sinfo a{
	text-decoration: none;
	font-weight: bold;
	color:inherit;
}