body {
	background-color: #efefef;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.Logo {
    width:50px;
	position: relative;
}
.button{
    border: 3px;
    cursor: pointer;
}
.edit{
    width: 50px;
    top: 5px;
    right: 10px;
    position: absolute;
}


#userCard{
    font-size: 165%;
    border-color: black;
    border-width: 2px;
}

.userIcon
{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    border-radius: 100%;
}
.userName{
    top: 200px;
    text-align: center;
}

.description{
    top: 230px;
    text-align: center;
}
table{
    border: 1px solid black;
}
.followInfo{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.followInfoNum{
    font-size: 150%;
}

.tagsTable tr td{
    left: 500px;
    border: 2px solid black;
}

.mostAct tr td{
    right: 50px;
}

.questions tr th td{
    border: 2px solid blue;
}

#followerinfo{
    visibility: hidden;
}