.userheading{
	font-size:23px;
	padding:30px 0px 10px 0px;
}

.listcontainter{
	width:600px;
	max-height:1000px;
	overflow-y:auto;
	overflow-x:hidden;
	background: #fff;
	padding:0px;
}

.shortquestion{
	display:block;
	margin-bottom:4px;
	background-color: #eeeeee;
	padding:20px;
	border-radius: 5px;
}

#profilePic{
	width:50px;
	border:1px solid #cccccc;
}

.hideme{
	display: none;
}

#left{
	float:left;
	display:block;
	width:300px;
	background-color: white;
	padding:20px;
	text-align: left;
}

#right{
	display:block;
	background-color: white;
	padding:20px;
	float:left;
	margin-left:10px;
}

#twocol{
	overflow:auto;
	width: 1000px;
	padding:20px;
	margin: 0 auto;
}

a.squestion{
	text-decoration: none;
	font-weight: bold;
	color:inherit;
	font-size:18px;
}

.sinfo{
	font-size:13px;
	color:gray;
}

.sinfo a{
	text-decoration: none;
	font-weight: bold;
	color:inherit;
}

a.sanswer{
	text-decoration: none;
	color:inherit;
	font-size:15px;
}

#filtersection{
	padding:20px 0px;
}

#edittags{
	text-decoration: none;
	color:#ee6261;
	text-decoration:none;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:5px;
	font-weight:normal;
	border:1px solid #ee6261;
	float:right;
}

#checkboxes{
	list-style-type: none;
	padding:10px;
	margin:0px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
}

#checkboxes li{
	padding:0px;
	font-size: 15px;
	text-align: left;
	display:inline-block;
	width:145px;
}

#profilestats{
	padding:10px 0px;
	margin:0px;
	border-bottom: 1px solid #cccccc;

}

#profilestats li{
	display:inline-block;
	padding:0px;
	width:145px;
	height:20px;
	font-size: 20px;
	font-weight: bold;
	margin:20px 0px;
	text-align: center;
}
#profilestats a{
	text-decoration: none;
	color:gray;
}

#profilestats a:hover{
	color:black;
}

.stattitle{
	display:block;
	font-size:60%;
}

.tag{
	display:inline-block;
	color:#ffffff;
	background-color:#ee6261;
	margin-right:10px;
	margin-top:10px;
	padding:10px;
	border-radius: 5px;
}

#mytags{
	padding: 20px 0px;
}

#askbig{
	display:block;
	color:#ee6261;
	text-decoration:none;
	margin-top: 40px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:15px 15px;
	font-size:25px;
	font-weight:normal;
	border:1px solid #ee6261;
}

#notification{
	background-color: bisque;
	padding:20px;
}

#noticetitle{
	font-size: 18px;
	font-weight: bold;
}

#noticedesc{
	font-size: 18px;
}

#noticedate{
	margin-top:5px;
}

.sidebutton{
	display:block;
	color:#ee6261;
	text-decoration:none;
	margin-top: 20px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:15px 15px;
	font-size:18px;
	font-weight:normal;
	border:1px solid #ee6261;
}

#dashheading{
	font-size:23px;
	padding:30px 30px;
	background:#ee6261;
	color:#ffffff;
}

#dashname{
	font-size:18px;
	padding:30px 30px;
	background:#f58484;
	color:#ffffff;
}