.userheading{
	font-size:23px;
	padding:30px 0px 10px 0px;
}

.listcontainter{
	width:600px;
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
	background: #fff;
	padding:0px;
}

.shortquestion{
	display:block;
	margin-bottom:4px;
	background-color: #eeeeee;
	padding:20px;
	border-radius: 5px;
}

#profilePic{
	width:200px;
	border:1px solid #cccccc;
}

#left{
	float:left;
	display:block;
	width:300px;
	background-color: white;
	padding:20px;
	text-align: center;
}

#right{
	display:block;
	background-color: white;
	padding:20px;
	float:left;
	margin-left:10px;
}

#twocol{
	overflow:auto;
	width: 1000px;
	padding:20px;
	margin: 0 auto;
}

a.squestion{
	text-decoration: none;
	font-weight: bold;
	color:inherit;
	font-size:18px;
}

.sinfo{
	font-size:13px;
	color:gray;
}

.sinfo a{
	text-decoration: none;
	font-weight: bold;
	color:inherit;
}

a.sanswer{
	text-decoration: none;
	color:inherit;
	font-size:15px;
}

#profilestats{
	padding:10px 0px;
	margin:0px;
	border-bottom: 1px solid #cccccc;

}

#profilestats li{
	display:inline-block;
	padding:0px;
	width:145px;
	height:20px;
	font-size: 20px;
	font-weight: bold;
	margin:20px 0px;
	text-align: center;
}
#profilestats a{
	text-decoration: none;
	color:gray;
}

#profilestats a:hover{
	color:black;
}

.stattitle{
	display:block;
	font-size:60%;
}

.tag{
	display:inline-block;
	color:#ffffff;
	background-color:#ee6261;
	margin-right:10px;
	margin-top:10px;
	padding:10px;
	border-radius: 5px;
}

#mytags{
	border-bottom: 1px solid #cccccc;
	padding: 20px 0px;
}

.person{
	display:block;
	margin-bottom:4px;
	background-color: #eeeeee;
	padding:20px;
	border-radius: 5px;
}

.personname a{
	font-size: 18px;
	font-weight: bold;
	color:inherit;
	text-decoration: none;
}

.personid{
	font-weight: bold;
}

.hideme{
	display: none;
}

.personcontainter{
	width:600px;
	background: #fff;
	padding:0px;
}

#followUnfollow{
	display:block;
	color:#ee6261;
	text-decoration:none;
	margin-top: 20px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:10px;
	font-size:18px;
	font-weight:normal;
	border:1px solid #ee6261;
}

#reportuser{
	display:block;
	color:gray;
	text-decoration:none;
	margin-top: 10px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:10px;
	font-size:13px;
	font-weight:normal;
	border:1px solid gray;
}