#answerForm label{
	display:block;
	margin-bottom:10px;
}

#answerForm input{
	display:block;
	margin-bottom:20px;
	padding: 10px;
	width:600px;
}

#answerForm textarea{
	display:block;
	margin-bottom:20px;
	padding: 10px;
	width:800px;
	min-height:300px;
}

.headline{
	font-size:23px;
	padding:20px 0px 10px 0px;
}

#answerForm #formbtn{
	display:block;
	color:#ee6261;
	text-decoration:none;
	margin-top: 40px;
	background-color:transparent;
	cursor: pointer;
	text-align: center;
	padding:10px;
	height:38px;
	font-size:15px;
	font-weight:normal;
	border:1px solid #ee6261;
	width:200px;
}

.formerror{
	color:red;
}

#onecol{
	overflow:auto;
	width: 1000px;
	padding:20px;
	margin: 0 auto;
}

#askparent{
	background:#ffffff;
	padding:20px;
}