.userheading{
	font-size:23px;
	padding:30px 0px 10px 0px;
}

.listcontainter{
	width:600px;
	max-height:300px;
	overflow-y:auto;
	overflow-x:hidden;
	background: #fff;
	padding:0px;
}

.shortquestion{
	display:block;
	margin-bottom:4px;
	background-color: #eeeeee;
	padding:20px;
	border-radius: 5px;
}

#profilePic{
	width:200px;
	border-radius: 50%;
}

#left{
	float:left;
	display:block;
	width:300px;
	background-color: white;
	padding:20px;
}

#right{
	display:block;
	background-color: white;
	padding:20px;
	float:left;
	margin-left:10px;
}

#twocol{
	overflow:auto;
	width: 1010px;
	padding:20px;
}